@import variables

#footer
  height: 200px
  display: flex
  align-items: center
  font-family: $primary-font
  color: $primary-font-color
  font-size: 18px

  img
    width: 70px
    margin: 0 30px 0 50px
    opacity: 80%
    &:hover
      cursor: pointer
      opacity: 100%
  
  