@import "variables"

.large-box 
  height: 920px
  background-image: url('../images/banner.jpg')
  background-repeat: no-repeat
  background-position: center center
  display: flex
  justify-content: center
  flex-direction: column
  padding: $nav-height 0 0 8%
  


  .subtitle
    font-family: $primary-font
    color: $primary-font-color
    font-size: 6em
    font-weight: 600
    margin: 0
  
  @media screen and (max-width: 767px) 
    padding: 0 0 0 3%
    
    .subtitle
      margin: 0
      font-size: 4em



.large-box2 
  display: flex
  flex-direction: column
  padding: 150px 14px 80px
  @media screen and (max-width: 767px)
    padding-top: 100px

  .description-box
    display: flex
    align-items: center
    justify-content: center
    flex-direction: column


    .category
      font-family: $primary-font
      color: $primary-font-color
      font-weight: 700
      margin: 0
      font-size: 3.5em
      text-align: center
      @media screen and (max-width: 767px) 
        font-size: 2em
      @media screen and (min-width: 767px) and (max-width: 1170px)
        font-size: 3em


    .description
      color: $primary-font-color
      font-family: $primary-font
      font-size: 1.2em
      font-weight: 100
      width: 650px
      margin: 15px 0 90px
      text-align: center
      @media screen and (max-width: 767px) 
        font-size: 1em
        margin-bottom: 32px
        width: 100%


      .name
        font-weight: 800
    
    .button-links
      display: grid
      grid-template-columns: 1fr 25px 1fr
      @media screen and (max-width: 767px)
        grid-template-columns: none
        grid-template-rows: 1fr 10px 1fr
        width: 359px
      
      @media screen and (min-width: 767px) and (max-width: 1170px)
        width: 760px


      .visual-button
        position: relative
        height: 500px
        width: 500px
        font-family: $secondary-font
        color: $primary-font-color
        font-size: 48px
        font-weight: 600
        overflow: hidden
        @media screen and (max-width: 767px)
          height: 200px
          font-size: 34px
          width: 100%
        @media screen and (min-width: 767px) and (max-width: 1170px)
          height: 350px
          font-size: 35px
          width: 100%;
      


      
        img
          width: 170%
          margin: 0 0 0 0
          position: absolute
          opacity: 0.9
          left: -182px;
          top: -20px;
          transition: opacity 0.5s cubic-bezier(0.65, 0.54, 0, 0.9);
          @media screen and (max-width: 767px)
            width: 600px;
            left: -152px;
            top: -85px;
          @media screen and (min-width: 767px) and (max-width: 1170px)
            width: 700px;
            left: -141px;
            top: -6px;



          &:hover
            opacity: 0.5

      .button-text
        position: absolute
        top: 41%
        pointer-events: none;
        width: 100%
        text-align: center
        
      .visual-button:hover
        cursor: pointer
        
        > .button-text
    
  

  