@import "variables"

.large-box 
  height: 920px
  background-image: url('../images/banner.jpg')
  background-repeat: no-repeat
  background-position: center center
  display: flex
  justify-content: center
  flex-direction: column
  padding: 0 0 0 8%



.large-box2 
  .description-box
    display: flex
    align-items: center
    justify-content: center
    padding: 150px 100px 0
    flex-direction: column

    .category
      font-size: 60px

    .description
      color: $primary-font-color
      font-family: $primary-font
      font-size: 20.5px
      font-weight: 100
      padding: 10px
      width: 628px;
      margin: 0 0 90px

      .name
        font-weight: 800
    
    .button-links
      display: grid
      grid-template-columns: 1fr 25px 1fr

      .visual-button
        position: relative
        height: 550px
        width: 600px
        font-family: $secondary-font
        color: $primary-font-color
        font-size: 55px
        font-weight: 600
        overflow: hidden
      
        img
          width: 169%
          margin: 0 0 0 0
          position: absolute
          opacity: 0.9
          left: -219px
          top: -20px
          transition: 0.5s cubic-bezier(0.65, 0.54, 0, 0.9);

          &:hover
            opacity: 0.5

      .button-text
        position: absolute
        top: 45%
        margin: 0 138px
        pointer-events: none;

        
      .visual-button:hover
        cursor: pointer
        
        > .button-text
    
  
  display: flex
  flex-direction: column
