@import "variables"

.large-box 
  height: 920px
  background-image: url('../images/banner.jpg')
  background-repeat: no-repeat
  background-position: center center
  display: flex
  align-items: center
  padding: 0 0 0 8%

  .slogan
    font-family: $primary-font
    color: $primary-font-color
    font-size: 90px

  .small-text
    font-size: 20px


.large-box2 
  .visual-button
    height: 860px
    width: 650px
    background-repeat: no-repeat
    background-position: center center
    background-size: cover
    opacity: 85%
    font-family: $primary-font
    color: black
    font-size: 40px
    font-weight: 600
  
  .visual-button:hover
    opacity: 100%

  .services
    background-image: url('../images/services.jpeg')
  
  .contact
    background-image: url('../images/contactInfo.jpg')
    
  
  display: flex
  justify-content: space-around
  margin: 160px 0 35px 0
