@import "variables"

#navbar
  background: transparent
  position: fixed
  width: 100%
  top: 0
  margin: 0 0 0 0
  z-index: 100

.contents
   display: flex
   justify-content: space-between
   padding: 35px 40px 0 40px
  

.company-name 
  margin: 0 0 0 0
  font-family: $primary-font
  font-size: 30px
  color: $primary-font-color

#nav-buttons
  .nav-but
    font-family: $primary-font
    color: $primary-font-color
    margin: 0 40px 0 0
    font-size: 17px
    font-weight: 600

  margin: 5px 0 0 0

@media ( max-width: 480px )
  .company-name
    font-size: 30px

  #nav-buttons
    display: none
  
