
// Fonts 
$primary-font: 'Jost', sans-serif;
$secondary-font: 'Jost', sans-serif;
// $secondary-font: 'Bebas Neue', cursive;


// Colors
$primary-font-color: #ffffff;
$primary-page-color: #101010;

// other
$nav-height: 100px;

.generic-button
  color: $primary-font-color
  font-family: $primary-font
  font-size: 25px
  font-weight: 500
  border: 2px solid $primary-font-color
  width: 200px
  height: 70px
  border-radius: 50px
  transition: box-shadow 0.5s
  display: flex
  align-items: center
  justify-content: center
  @media screen and ( max-width: 767px )
    width: 150px
    height: 50px
     

  &:hover
    cursor: pointer
    box-shadow: 0 0 11px 0 #333333

  &:focus
    outline: none;


.company-name 
  margin: 0 0 0 0
  font-family: $secondary-font
  font-size: 30px
  color: $primary-font-color
  @media ( max-width: 767px )
    .company-name
      font-size: 20px

a
  text-decoration: none
  color: $primary-font-color

.info-body
  font-family: $primary-font
  color: $primary-font-color
  margin-top: $nav-height
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center