
// Fonts 
$primary-font: 'Jost', sans-serif;


// Colors
$primary-font-color: #ffffff;


.generic-button
  color: $primary-font-color
  font-family: $primary-font
  font-size: 20px
  border: 1px solid $primary-font-color
  width: 200px
  height: 70px
  background-color: #ffffff00
